section.banner {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 64px 0;
  position: relative;
}

aside {
  position: absolute;
  max-width: 245px;
  left: 0;
  background-color: var(--white);
  padding: 80px 0;
}

aside h1 {
  font-size: 48px;
}
