.product {
  padding: 46px;
  border-radius: 8px;
  background-color: var(--background-secondary);
  text-align: end;
}

.product + .product {
  margin-left: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.info h2 {
  font-size: 18px;
  max-width: 150px;
}

.info p {
  margin: 8px 0 16px;
}

.info button {
  border-radius: 8px;
  padding: 8px 36px;
  color: var(--white);
  background: var(--brand);
}
