header {
  background-color: #f6f6f6;
  padding: 24px 0;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs a {
  font-size: 18px;
  font-weight: 200;
  color: #000;
}

.tabs a {
  font-size: 18px;
  font-weight: 200;
  color: #000;
}

.tabs a + a {
  margin-left: 32px;
}

button {
  background: transparent;
  border: none;
}

form {
  display: flex;
  align-items: center;
}

form input {
  border: none;
  background-color: #e9e9e9;
  height: 40px;
  padding: 0 8px;
  border-radius: 8px 0 0 8px;
}

form button {
  height: 40px;
  width: 40px;
  background-color: #e9e9e9;
  border-radius: 0 8px 8px 0;
}

.actions button + button {
  margin-left: 24px;
}
