header {
  background-color: var(--background);
  padding: 24px 0;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs a {
  font-size: 18px;
  font-weight: 200;
  color: var(--font-color);
}

.tabs a + a {
  margin-left: 32px;
}

button {
  background: transparent;
  border: none;
}

form.search {
  display: flex;
  align-items: center;
}

form.search input {
  border: none;
  background-color: var(--background-secondary);
  height: 40px;
  padding: 0 8px;
  border-radius: 8px 0 0 8px;
}

form.search button {
  height: 40px;
  width: 40px;
  background-color: var(--background-secondary);
  border-radius: 0 8px 8px 0;
}

.actions button + button {
  margin-left: 24px;
}
