footer {
  background-color: var(--background-secondary);
}

main {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.person {
  display: flex;
  align-items: center;
}

.person p {
  margin-right: 16px;
}

.person a + a {
  margin-left: 8px;
}
