:root {
  --brand: #750707;
  --background: #f6f6f6;
  --background-secondary: #e9e9e9;
  --font-color: #000;
  --white: #fff;
  --black: #000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
